<?xml version="1.0"?>
<robot name="delirobo" xmlns:xacro="http://ros.org/wiki/xacro">
	<!-- =========================1) RealSense D435 的 URDF 结构========================= -->
	<!-- 用 Intel realsense2_description 提供的 D435 URDF 宏 -->
<!-- <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" /> -->
	<xacro:include filename="$(find fairino_arm_moveit_descriptions)/urdf/camera/_d435.urdf.xacro" />
	<!-- 用 Intel realsense2_description 提供的 D435 URDF 宏 -->

	<!-- =========================2) RealSense D435 的 Gazebo 传感器定义========================= -->
    <xacro:include filename="$(find realsense2_gz_description)/urdf/_d435.gazebo.xacro" />
	<!-- =========================================================宏 1：相机本体（URDF / TF / frames / mesh）========================================================= -->
	<xacro:macro name="camera_v0" params="parent *joint_origin">

		<!-- 关键点：仿真需要 depth/color/infra 等 frame 都存在，所以建议 use_nominal_extrinsics=true -->
		<xacro:sensor_d435
		parent="${parent}"
		name="camera"
		use_nominal_extrinsics="true"
		add_plug="false"
		use_mesh="true">
		<xacro:insert_block name="joint_origin"/>
		</xacro:sensor_d435>

		<!-- 关键点：仿真需要 depth/color/infra 等 frame 都存在，所以建议 use_nominal_extrinsics=true -->

		<!-- <joint name="camera_joint" type="fixed">
			<xacro:insert_block name="joint_origin"/>
			<parent link="${parent}"/>
			<child link="camera_link"/>
		</joint>
		<link name="camera_link">
			<visual>
				<geometry>
					<mesh filename="package://fairino_arm_moveit_descriptions/visual/camera.dae"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<mesh filename="package://fairino_arm_moveit_descriptions/meshes/camera.stl"/>
				</geometry>
			</collision>
			<inertial>
				<origin xyz="0 0 0"/>
				<mass value="0.1"/>
				<inertia ixx="0.00001" ixy="0" ixz="0" iyy="0.00001" iyz="0" izz="0.00001" />
			</inertial>
		</link> -->
	</xacro:macro>
	<!-- =========================================================宏 2：Gazebo 中的相机传感器 / 材质========================================================= -->
	<xacro:macro name="camera_gazebo_v0" params="sensor_type:=rgbd fps:=60 image_width:=640 image_height:=480 fx:=0 fy:=0 cx:=0 cy:=0 k1:=0 k2:=0 k3:=0 p1:=0 p2:=0 noise_stddev:=0 h_fov:=1.2042771838760873 v_fov:=0.7330382858376184 depth_image_width:=1280 depth_image_height:=720 depth_fx:=0 depth_fy:=0 depth_cx:=0 depth_cy:=0 depth_k1:=0 depth_k2:=0 depth_k3:=0 depth_p1:=0 depth_p2:=0 depth_h_fov:=1.5184364492350666 depth_v_fov:=1.0122909661567112 depth_near_m:=0.28 depth_far_m:=3.0 native_depth_enabled:=true">
        <!-- Gazebo 侧 D435 相机 -->
        <xacro:gazebo_d435
            name="camera"
            gz_topic_name="camera"
            type="${sensor_type}"
            fps="${fps}"
            image_width="${image_width}"
            image_height="${image_height}"
            fx="${fx}" fy="${fy}" cx="${cx}" cy="${cy}"
            k1="${k1}" k2="${k2}" k3="${k3}" p1="${p1}" p2="${p2}"
            noise_stddev="${noise_stddev}"
            h_fov="${h_fov}" v_fov="${v_fov}"
            depth_image_width="${depth_image_width}"
            depth_image_height="${depth_image_height}"
            depth_fx="${depth_fx}" depth_fy="${depth_fy}" depth_cx="${depth_cx}" depth_cy="${depth_cy}"
            depth_k1="${depth_k1}" depth_k2="${depth_k2}" depth_k3="${depth_k3}" depth_p1="${depth_p1}" depth_p2="${depth_p2}"
            depth_h_fov="${depth_h_fov}" depth_v_fov="${depth_v_fov}"
            depth_near_m="${depth_near_m}" depth_far_m="${depth_far_m}"
            native_depth_enabled="${native_depth_enabled}"/>

        <!-- camera_link 材质：使用 URDF visual 自带的材质，不强制覆盖 -->
    </xacro:macro>

	<!-- <gazebo reference="camera_link">
          <visual>
            <material>
              <ambient>0.74902 0.74902 0.74902 1</ambient>
              <diffuse>0.74902 0.74902 0.74902 1</diffuse>
              <specular>0.05 0.05 0.05 1</specular>
            </material>
          </visual>
          <sensor type="camera" name="camera_sensor">
            <update_rate>30.0</update_rate>
            <pose>0 0 0 0 0 0</pose>
            <topic>/image_raw</topic>
            <camera name="robot_camera">
              <horizontal_fov>1.8</horizontal_fov>
              <image>
                <width>640</width>
                <height>480</height>
                <format>R8G8B8</format>
              </image>
              <clip>
               <near>0.02</near>
               <far>300</far>
              </clip>
              <noise>
                <type>gaussian</type>
                <mean>0.0</mean>
                <stddev>0.007</stddev>
              </noise>
            </camera>
          </sensor>
        </gazebo> -->

</robot>
